table, th, td {
    border: 1px solid;
    background-color: chocolate;
    font-family: 'Oswald', sans-serif;
    border-collapse: collapse;
  }    


.container{
    display: flex;
    align-items: center;
    padding: 50px;
    justify-content: space-around;
}

img {
  max-width: 150px;
  height: 150px;     
}

#hobbies {
  display: flex;
  padding: 50px;
  align-items: center;
  flex-direction: column;
  margin: 50px;
  font-size: 60px;
}


body {
  background-color: grey;
}